<div class="pageTopBar">
    <span ></span>
    <span class="pageTitle">Images</span>
    <span ></span>
    
</div>
<div class="news" directive-when-scrolled="loadMore()">
    
    <div class="image-container" ng-repeat="image in images | limitTo: limit" ng-click="showImageViewer($index)">
        <img ng-src="{{image.src.tiny}}"/>
    </div>
    <div ng-if="loading" class="loading">
    </div>
    <div class="imageView" id="imageView">
        <button class="image-button-close" ng-click="hideImageViewer()">x</button>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="image in images | limitTo: limit">
                    <div class="slide-image-holder">
                        <img ng-src="{{image.src.portrait}}"/>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
