<div class="loginHolder">
    <div class="login-welcome">Welcome</div>
    <div class="login-message">Enter <div>admin</div> as username and password to login</div>
    <div class="loginController">
        <div>Username:</div>
        <input placeholder="username" type="text" ng-model="username">
        <div>Password:</div>
        <input placeholder="password" type="password" ng-model="password">
        <div class="login-actions"><button class="login-button" ng-click="onLoginClicked()">Login</button></div>
    </div>
</div>

<modal ng-if="showErrorModal">
    <div class="error-message">Invalid username or password !</div>
    <div class="modal-action">
        <button class="close-button" ng-click="closeErrorModal()">close</button>
    </div>
</modal>